@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

body {
  background-color: #010101;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Code', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 100px;
  font-size: 36px;
  letter-spacing: 2px;
  color: #ccc;
}

table {
  border-collapse: collapse;
  border: 1px solid #010101;

  td {
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: arial;
    font-size: 18px;
    position: relative;
    font-weight: bold;
  }
  .pixel {
    width: 4px;
    height: 4px;
    border: 0;
  }
  .pixel-index {
    font-size: 7px;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 1px;
    color: #927450;
  }
}
